body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    color: white;
}

.container {
    font-size: 2vw;
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}

h1 {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: yellow;
    font-family: cursive;
    padding-top: 1em;
   
    
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
    transform: translate(-50%, -50%);
}

.planet {
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    animation: orbit linear infinite;
}

.mercury {
    top: 50%;
    left: 50%;
    width: 15vw;
    height: 15vw;
    animation-duration: 8.8s;
    transform: translate(-50%, -50%);
}

.venus {
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 20vw;
    animation-duration: 22.8s;
    transform: translate(-50%, -50%);
}

.earth {
    top: 50%;
    left: 50%;
    width: 25vw;
    height: 25vw;
    animation-duration: 36.5s;
    transform: translate(-50%, -50%);
}

.mars {
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 30vw;
    animation-duration: 68.7s;
    transform: translate(-50%, -50%);
}

.jupiter {
    top: 50%;
    left: 50%;
    width: 35vw;
    height: 35vw;
    animation-duration: 433.3s;
    transform: translate(-50%, -50%);
}

.saturn {
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 40vw;
    animation-duration: 1075.9s;
    transform: translate(-50%, -50%);
}

.uranus {
    top: 50%;
    left: 50%;
    width: 45vw;
    height: 45vw;
    animation-duration: 3068.4s;
    transform: translate(-50%, -50%);
}

.neptune {
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vw;
    animation-duration: 6019.6s;
    transform: translate(-50%, -50%);
}

.planet::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.mercury::before {
    top: 50%;
    left: 50%;
    width: 1.6em;
    height: 1.6em;
    background-color: gray;
    transform: translate(-50%, -50%);
}

.venus::before {
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    background-color: orange;
    transform: translate(-50%, -50%);
}

.earth::before {
    top: 50%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    background-color: aqua;
    transform: translate(-50%, -50%);
}

.mars::before {
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: red;
    transform: translate(-50%, -50%);
}

.jupiter::before {
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    background-color: brown;
    transform: translate(-50%, -50%);
}

.saturn::before {
    top: 50%;
    left: 50%;
    width: 2.7em;
    height: 2.7em;
    background-color: lightyellow;
    border: 0.2em solid #C2B280;
    transform: translate(-50%, -50%);
}

.uranus::before {
    top: 50%;
    left: 50%;
    width: 2.2em;
    height: 2.2em;
    background-color: lightblue;
    transform: translate(-50%, -50%);
}

.neptune::before {
    top: 50%;
    left: 50%;
    width: 2.1em;
    height: 2.1em;
    background-color: blue;
    transform: translate(-50%, -50%);
}

.earth .moon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    animation: orbit-moon 27.3s linear infinite;
    transform: translate(-50%, -50%);
}

.earth .moon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.7em;
    height: 0.7em;
    background-color: lightgray;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbit-moon {
    to {
        transform: rotate(360deg);
    }
}



